.card {
    background-color: #000000;
    padding: 10px;
}

h2 {
    color: #F36917;
}

.form {
    padding: 10px;
    justify-content: center;
}

.Label {
    color: white;
}

.InputGroup {
    margin-top: 10px;
}

.Input {
    max-width: 60%;
}

.SubmitButton {
    margin-top: 20px;
    font-size: 20px;
    padding: 7px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease;

    background-color: #F36917;
    border-color: black;
    cursor: pointer;
}

/* Hover effects */
.SubmitButton:hover {
    transform: scale(1.05);
    background-color: #ac4b13;
    border: black;
}

.SwitchButton {
    margin-top: 20px;
    margin-left: 20px;
    font-size: 20px;
    padding: 7px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease;

    background-color: black;
    color: #F36917;
    border-color: whitesmoke;

    cursor: pointer;
}

.SwitchButton:hover {
    transform: scale(1.05);
    background-color: rgb(36, 34, 34);
    border: white;
}