/* Fullscreen Container */
.outer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

}

/* Centered Row */
.inner-row {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* Card Styling */
.upload-card {
    padding: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) !important;
    border-radius: 8px !important;
    background-color: #504A43 !important;
    color: white !important;
}

/* File Input */
.file-input {
    margin-bottom: 1rem;
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ced4da !important;
    border-radius: 4px;
}

/* Submit Button */
.submit-btn {
    width: 100%;
}



#container {
    margin: 20px;
    width: 400px;
    height: 8px;
    position: relative;
}



/* General button styles */
.newContext {
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 5px;
    /* Rounded corners */
    transition: background-color 0.3s ease, transform 0.2s ease;
    width: 100%;
    background-color: #F36917;
    border-color: black;
    /* Ensure buttons span the column width */
}

/* Hover effects */
.newContext:hover {
    transform: scale(1.05);
    /* Slightly enlarge button */
}

/* Success button hover effect */
.newContext.btn-success:hover {
    background-color: #e45f11;
    border: black;

}

.newContext.btn-primary:hover {
    background-color: #e45f11;
    border: black;

}