.Header {
    position: relative;
    background-color: #F36917;
    color: black;
    width: 100%;
    margin-bottom: 5px;
    border-style: solid;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.Header>h1 {
    flex-grow: 0;

    font-size: 60px;
    padding: 5px;
    color: black;
    width: fit-content;
    cursor: pointer;
    user-select: none;
    margin-bottom: 0px;
}


.Header>div {
    flex: 0 0 50%;
    display: flex;
    justify-content: right;
    justify-content: space-evenly;
}

.SignOutButton {
    position: absolute;

    right: 5px;
    top: 50%;

    background-color: black;
    color: #F36917;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

a {
    color: black;
    cursor: pointer;
    transition: .3s ease-out;
    text-decoration: none;
}

a:hover {
    transform: scale(1.1);
}

.activeLink {
    text-decoration: underline;
}


.SignOutButton:hover {
    transform: scale(1.05);
}