.add-button {
    margin-left: 8px;
    background-color: black;
}

.data-background {
    border-color: rgb(84, 90, 93);
    background-color: rgb(49, 53, 55);
}

.param-background {
    background-color: rgb(44, 48, 49) !important;
    color: white;
}

.query-mode-bar {
    padding: 1rem;
}
.align-center {
    align-content: center;
    text-align: center;
}

.query-mode-button,
.current-mode {
    font-size: 1.5rem;
    transition: 0.3s ease-out;
    border-radius: 5px;
    border-style: solid;
    padding: 0.5rem 1rem;
}

.query-mode-button {
    background-color: black;
    color: #f76902;
    border-color: rgb(39, 39, 39);
}

.current-mode {
    background-color: #f76902;
    border-color: #f77213;
    color: black;
}

.query-mode-button:hover,
.current-mode:hover {
    transform: scale(1.1);
}

.basic-query-title {
    color: #f76902;
}
