.ContextSelect {
    overflow: hidden;
}


.ContextHeaderText {
    font-size: 60px;
    padding: 5px;
    color: #231F20;
}




.MainBody {
    height: 100vh;
    width: 100% !important;
}

.Components {
    width: 100%;
}

.ContextHeader {
    position: relative;
    background-color: #F36917;
    width: 100% !important;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-style: solid;
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.SignOutButton {
    position: absolute;

    right: 5px;
    top: 20px;
    transform: translateY(-50%);
    background-color: red;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}