.ContextSelect {
    overflow: hidden;
}

.ContextHeader {

    background-color: #F36917;
    width: 100%;


    align-content: center;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-style: solid;
    display: block;

}

.ContextHeaderText {
    font-size: 60px;
    padding: 5px;
    color: #231F20;
}

.ButtonDisplayBody {

    width: 100%;
    height: 100px;

}

table {
    width: 100%;
    height: 100%;
    padding-bottom: 10px;
}

td {

    width: 50%;
    height: 100%;
    align-content: center;
}

.ButtonBody {

    font-size: 15px;
    padding: 20px;
    border-radius: 25px;
    transition-duration: 25ms;
    background-color: #F36917;
    border: none;

    color: #231F20;

}

.ButtonBody:hover {

    background-color: #9d4614;
    scale: 1.05;
    cursor: pointer;
}

.ButtonBody:active {
    background-color: #dc5e14;
}

.MainBody {
    height: 100vh;


}

.Error {

    background-color: #F36917;
    min-width: 300px;
    max-width: 700px;

    min-height: 300px;
    max-height: 700px;

    justify-content: center;
    align-content: center;
    font-size: 30px;

}