.MainFormGroups {
  padding: 10px;
}

.ContextForm {
  margin-left: 10px;
  margin-right: 10px;
}

.FormGroupElement {
  padding: 5px;
}

Label {
  padding-right: 20px;
  font-size: 1.3em;

}

.form-input-label {
  background-color: rgb(140, 140, 140) !important;
  border-color: rgb(126, 126, 126) !important;
}

.formInput {
  margin-left: 20px;
  background-color: rgb(140, 140, 140) !important;
  border-color: rgb(126, 126, 126) !important;

}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  /* Space between panels */
}

.left-panel,
.right-panel {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.right-panel .top-right-panel,
.bottom-right-panel .right-panel {
  margin-bottom: 20px;
}

.panel-header {
  font-size: 1.2em;
  font-weight: bold;
  color: #F76902 !important;
}

.panel-content {
  flex-grow: 1;
  padding: 10px;
  background-color: #000000;
  border: 1px solid #181617;
}



/* Grid layout for configuration forms */
.grid-container {
  display: grid;

  grid-template-columns: repeat(2, minmax(200px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.grid-item {
  padding: 15px;
  background-color: #000000;
  border: 1px solid #211e1f;
}

/* Grid Header Styling */
.grid-header {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 1.2em;
  text-align: left;
  color: #F36917 !important;
}

/* Button styling */
.submitButton {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #F36917;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: fixed;
  display: block;
  right: 10px;
  bottom: 10px;
  transition: 10ms;
}

.submitButton:hover {
  background-color: #9d4614;
  scale: 1.05;
}

/* Button styling */
.autoFill {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #F36917;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: fixed;
  display: block;
  left: 10px;
  bottom: 10px;
  transition: 10ms;
}

.autoFill:hover {
  background-color: #9d4614;
  scale: 1.05;
}

.ConfigDropdown {
  background-color: rgb(140, 140, 140) !important;
  border-color: rgb(126, 126, 126) !important;
  color: #000000;
  font-size: 1em;
  border-radius: 10px;
}